@media (width >= 1200px) {
    .my_work_slide {
        padding-right: 8vw;
        padding-left: 8vw;
        height: 166vh;
    }

    .my_work_presentation {
        max-width: 1200px;
    }

    .my_work_presentation .appear_on_hover:hover img{
        width: 12%;
    }

    .my_work_presentation img {
        max-width: 250px;
        margin-top: 0px;
        margin-bottom: -4px;
    }
}