.footer {
    background-color: #28375C;
    text-align: center;
    margin-left: -4vw;
    margin-right: -4vw;
}

.footer div {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: center;
}

.footer div a {
    margin-right: 20px;
}

.footer img {
    width: 20px;
    max-width: 20px;
}

#contact_slide .footer p {
    color: #ffffff;
    background-color: transparent;
    font-size: 10px;
}