.my_work_slide img {
    width: 44vw;
    max-width: 220px;
    max-height: 33vh;
    margin: 2px;
}

.my_work_slide_next {
    padding-top: 50px;
}

.my_work_presentation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}