.my_work_presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.my_work_presentation .container_for_hover{
    position: relative;
    text-align: center;
    background-color: #fff;
}

.my_work_presentation .appear_on_hover {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'nunito_sans', Verdana, Tahoma, sans-serif;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
}

.my_work_presentation img {
    width: 44vw;
    max-width: 220px;
    margin-top: 0px;
    margin-bottom: -4px;
}


.my_work_presentation .appear_on_hover:hover {
    opacity: 1;
}

.my_work_presentation .appear_on_hover p {
    font-size: clamp(6px, 4vw, 22px)
}

.my_work_presentation .appear_on_hover a {
    color: #fff;
    font-size: clamp(6px, 4vw, 22px)

}

.my_work_presentation .appear_on_hover img {
    width: 12%;
}

.my_work_slide_next {
    padding-top: 50px;
}

