#services_slide h2 {
    padding-bottom: 0;
}

#services_slide h3 {
    font-family: 'abril_fatface','nunito_sans', Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: clamp(14px, 3vw, 20px);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 10px;
    color: #28375C;
    margin: 0 10% 0 10%;
}

#services_slide h3 span {
    background-image: linear-gradient( transparent 65%, #F3E675 60% );
}

#services_slide p {
    font-size: 12px;
    margin: auto;
    text-align: center;
}

#services_slide a {
    text-decoration: none;
    background-color:#F3E675;
    padding: 0 5px 0 5px;
    color:#000;
    width: 110px;
    cursor: pointer;
}

.services_list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.services_list div {
    width: 45vw;
    height: 22vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    background-color: #E5F0F8;
    overflow-y: scroll;
}

#services_slide .services_list div p {
    background-color: transparent;
    padding: 20px 20px 0 20px;
}

.services_list div img {
    display: none;
}

#services_slide .services_list div img {
    display: none;
}

