@media (width >= 767px) {
    nav{
        margin: 0 10vw 0 10vw;
    }

    h1{
        font-size: clamp(36px, 5vw, 58px)
    }

    h2 {
        font-size: 4em;
    }

    .hide_space {
        display:contents
    }    

    p{
        font-size: 18px;
    }

    .first_slide{
        flex-direction: row;
        text-align: start;
        align-items: flex-end;
        padding-left: 100px;
    }

    .first_slide_logos {
        width: 4vw;
        max-width: 55px;
    }

    .first_slide button{
        margin-bottom: 35vh;
        font-size: 18px;
    }

    .first_slide_photo{
        width: 50vw;
        max-width: 600px;
    }

    #about_slide {
        background: linear-gradient(to right, white 55%, #E5F0F8 15%);
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }

    #about_slide {
        align-items: start;
    }

    #about_slide h2 {
        width: 100vw;
    }

    #about_slide .title_color_white {
        color: #ffffff;
    }    

    #about_slide .aboutme_description {
        width: 45vw;
        justify-content: none;
        margin-bottom: 20vh;
    }

    #about_slide ul {
        width: 45vw;
        margin-top: -30px;
        height: 300px;
        position: relative;
        left: 70px;
    }

    #contact_slide {
        width: 80vw;
        margin: auto;
        max-width: 1200px;
    }

    #services_slide .services_list div p  {
        font-size: 16px;
        padding-right: clamp(10px, 2vw, 4vw);
        padding-left: clamp(10px, 2vw, 4vw);
    }

    .services_list {
        margin: auto;
        margin-top: 30px;
        width: 80vw;
        max-width: 1200px;
    }

    .services_list div {
        width: 36vw;
        max-width: 550px;
        height: 22vh;
        margin-bottom: 1vh;
        margin-right: 1vw;
        background-color: #E5F0F8;
    }
}