@media (orientation: landscape) {
    .first_slide {
      flex-direction: row;
      justify-content: space-around;
    }

    .first_slide_photo{
        width: 50vw;
    }

    .aboutme_content{
        display: flex;
    }

    #about_slide p {
        font-size: 12px;
        width: 40vw;
    }
  }
  