@media (min-width: 1200px) {
  .my_work_presentation {
    max-width: 1200px;
  }

  .my_work_presentation .appear_on_hover:hover img {
    width: 12%;
  }

  .my_work_presentation img {
    width: clamp(320px, 25vw, 350px);
    margin-top: 0px;
    margin-bottom: -4px;
  }
}
