#contact_slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact_slide h2 {
    padding-bottom: 0;
}

#contact_slide p{
    font-size: 12px;
    background-color: #F3E675;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin-bottom: 5vh;
}

form input {
    font-family: 'nunito_sans', Verdana, Tahoma, sans-serif;
    border: 2px solid #28375C;
    height: 25px;
}

form textarea {
    height: 150px;
    border: 2px solid #28375C;
}

input[type=submit] {
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    color: #ffffff;
    box-shadow: #e5f0f8 5px 5px 0px -3px, #28375c 5px 5px;
    border: none;
    background: #28375C;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
}


input[type=submit]:active {
    transform: translate(5px, 5px);
    box-shadow:  none;
}